@import '../../../../assets/settings';
.checkbox-wrapper {
  user-select: none;
  height: $uiElementHeight;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  &.fade-out{
    pointer-events: none;
    opacity: 0.1;
  }
  label{
    margin-left: 8px;
    white-space: nowrap;
  }
  input{
    -webkit-appearance: none;
    padding: 10.5px;
    display: inline-block;
    position: relative;
    background: $uiElementBackgroundNotTransparent;
    border-radius: $uiElementBorderRadius;
    border: 1px solid $menuWindowBorderColor;
    margin: 0;
    &:checked::after{
      content: '';
      background: url('../../../../assets/tick.svg') center no-repeat;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 4px;
      left: 3px;
      color: #ffffff;
    }
  }
  &.small{
    height: 16px;
    input{
      padding: 7px;
      &:checked::after{
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        background-size: 10px;
      }
    }
  }
}