@import '../../../../assets/settings';
.load-network{
  .menu-element{
    .header{
      margin-bottom: 28px;
    }
    .controls-wrapper{
      overflow: visible;
      .button-wrapper{
        position: relative;
        .loader{
          position: absolute;
          top: 4px;
        }
      }
    }
  }
  .separator-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 13px;
    .line{
      height: 1px;
      width: 40px;
      background: $menuWindowFontColor;
    }
    p{
      background: $menuWindowBackgroundNonBlur;
      margin-top: -12px;
      margin-bottom: 0;
      padding: 0 4px;
    }
    @media (max-width: 1920px) {
      margin: 10px 0;
      p{
        margin-top: -8px;
      }
    }
  }
  .vis-select{
    margin-bottom: 25px;
    margin-right: 0;
  }
}