@import '../../../../assets/settings';
.standard-button {
  background: $buttonBackgroundColor;
  border-radius: $uiElementBorderRadius;
  border: 1px solid $menuWindowBorderColor;
  color: $menuWindowFontColor;
  height: $uiElementHeight;
  font-size: $uiElementFontSize;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  min-width: 105px;
  cursor: pointer;
  user-select: none;
  &.reset{
    min-width: 60px;
  }
  &:focus-visible{
    outline: none;
  }
  &.disabled{
    pointer-events: none;
    cursor: default;
    background: $uiElementBackgroundNotTransparent;
    opacity: 0.5;
  }
}