@import '../../../../assets/settings';
.standard-button {
  background: $buttonBackgroundColor;
  border-radius: $uiElementBorderRadius;
  border: 1px solid $menuWindowBorderColor;
  color: $menuWindowFontColor;
  height: $uiElementHeight;
  font-size: $uiElementFontSize;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  min-width: 105px;
  cursor: pointer;
  user-select: none;
  &:hover{
    background: $buttonHoverColor;
  }
  &.danger{
    background: $buttonBackgroundDanger;
    &:hover{
      background: $buttonHoverDanger;
    }
  }
  &.reset{
    min-width: 60px;
  }
  &:focus-visible{
    outline: none;
  }
  &.disabled{
    pointer-events: none;
    cursor: default;
    background: $uiElementBackgroundNotTransparent;
    opacity: 0.5;
  }
  @media (max-width: 1920px) {
    font-size: $uiElementFontSizeSmall;
    height: $uiElementHeightSmall;
    min-width: 90px;
    &.reset{
      min-width: 40px;
    }
  }
}