@import '../../../../assets/settings';
.small-number-input-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .small-number-input{
    width: $uiElementHeight;
    height: $uiElementHeight;
    background: $uiElementBackground;
    border: 1px solid $menuWindowBorderColor;
    border-radius: $uiElementBorderRadius;
    margin: 0;
    padding: 0 2px;
    box-sizing: border-box;
    color: $menuWindowFontColor;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &.small{
      font-size: 9px;
    }
    &:focus + .disabled{
      display: none;
    }
  }
  .disabled {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('../../../../assets/cross.svg') center/15px no-repeat;
    pointer-events: none;
  }
}