@import '../../../../assets/settings';

.save-network{
  .menu-element{
    .header{
      margin-bottom: 28px;
    }
    .controls-wrapper{
      .vis-text-input{
        width: 200px;
        max-width: unset;
        margin-bottom: 13px;
      }
      .checkbox-wrapper{
        flex-direction: row-reverse;
        label{
          margin: 0 0 0 8px;
        }
      }
    }
  }
}