@import '../../../../assets/settings';
.vis-select{
  width: 100%;
  max-width: 135px;
  height: $uiElementHeight;
  border: 1px solid $menuWindowBorderColor;
  border-radius: $uiElementBorderRadius;
  background: $uiElementBackground;
  color: $menuWindowFontColor;
  margin-right: 10px;
  text-align: left;
  padding: 0 25px 0 10px;
  line-height: 23px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  font-size: $uiElementFontSize;
  font-weight: 400;
  .selected-value{
    white-space: nowrap;
  }
  &:not(.has-value){
    .selected-value {
      color: $menuWindowFontColorDisabled;
    }
  }
  &.open{
    border-radius: 5px 5px 0 0;
    background: #686868;
    z-index: 2;
    &.fixed-when-open {
      position: fixed;
    }
    &.overflow-fix {
      position: absolute;
    }
    .select-arrow{
      transform: rotate(0deg);
    }
  }
  &.extra-wide{
    max-width: unset;
    width: 248px;
  }
  &.has-value .select-arrow:not(.always-visible){
    display: none;
  }
  .select-arrow{
    position: absolute;
    right: 5px;
    top: 6px;
    width: 10px;
    height: 11px;
    background: url('../../../../assets/arrow-up.svg') center no-repeat;
    transform: rotate(180deg);
  }
  .options-wrapper{
    background: #686868;
    position: absolute;
    border: 1px solid $menuWindowBorderColor;
    border-top: none;
    left: -1px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    top: 23px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    .option{
      padding: 3px 10px;
      &:not(:first-child) {
        border-top: 1px solid #aaa;
      }
      &:hover, &.selected{
        background: $uiElementBackground;
      }
    }
  }
  &.opens-up{
    &.open{
      border-radius: 0 0 5px 5px;
      border-bottom: 1px solid $menuWindowBorderColor;
    }
    .select-arrow {
      transform: rotate(0deg);
      &.open {
        transform: rotate(180deg);
      }
    }
    .options-wrapper{
      top: unset;
      bottom: 23px;
      border-radius: 5px 5px 0 0;
      border-top: 1px solid $menuWindowBorderColor;
      border-bottom: none;
      .option{
        border-top: none;
        &:not(:last-child) {
          border-bottom: 1px solid #aaa;
        }
      }
    }
  }
}