.layout-controls{
  padding: 0 10px;
  .algorithm-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    .run{
      min-width: unset;
      flex-grow: 10;
    }
  }
  .settings{
    padding: 0 10px;
    .axis-selection-wrapper{
      display: flex;
      flex-direction: row;
    }
  }
}
