.layout-controls{
  padding: 0 10px;
  .algorithm-wrapper{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 20px;
    .algo-select{
      max-width: unset;
      width: 248px;
    }
    .run{
      min-width: unset;
      flex-grow: 10;
    }
    .loader{
      width: 17px;
      height: 17px;
      margin: 4px 0 0 10px;
      animation: spin 1.5s linear infinite;
    }
  }
  .settings{
    padding: 0 10px;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}