.layout-controls{
  padding: 0 10px;
  .algorithm-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 1920px) {
      margin-bottom: 18px;
    }
    .run{
      min-width: unset;
      flex-grow: 10;
    }
  }
  .settings{
    padding: 0 10px;
  }
}
