.error{
  .error-wrapper{
    padding: 0 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    p{
      margin: 0;
      text-align: center;
    }
  }
}