@import '../../../../assets/settings';

.info-table{
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  color: $menuWindowFontColor;
  background: $menuWindowBackgroundNonBlur;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: $menuWindowBackgroundColor;
  }
  border-top: 1px solid $menuWindowBorderColor;
  backdrop-filter: blur($menuWindowBackgroundBlur);
  height: 150px;
  .controls{
    padding: 10px 10px 10px 0;
    border-right: 1px solid $menuWindowBorderColor;
    width: 214px;
    min-width: 214px;
    box-sizing: border-box;
    .vis-select, .vis-text-input{
      margin-bottom: 20px;
    }
  }
  .table-wrapper{
    overflow: auto;
    max-width: calc(100vw - 234px);
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    table{
      border-spacing: 0;
      position: relative;
      thead{
        position: sticky;
        top: 0;
        z-index: 2;
        th{
          padding: 0 20px;
          line-height: $uiElementHeight;
          background: $uiElementBackgroundNotTransparent;
          border-right: 1px solid $menuWindowBorderColor;
          font-weight: 400;
          resize: horizontal;
          overflow: auto;
          cursor: pointer;
          user-select: none;
          position: relative;
          &.show-arrow{
            &::before{
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              left: 4px;
              top: 7px;
              background: url('../../../../assets/small-arrow.svg') center/10px no-repeat;
              image-rendering: auto;
            }
            &.reverse{
              &::before{
                transform: rotate(180deg);
              }
            }
          }
          &:not(:first-child){
            min-width: 70px;
          }
        }
      }
      tbody{
        tr{
          cursor: pointer;
          &.selected{
            background: $menuWindowBackgroundColor;
          }
          td{
            padding: 0 8px;
            line-height: $uiElementHeight;
            border-right: 1px solid $menuWindowBorderColor;
            position: relative;
            &.selected{
              background: $menuWindowBackgroundColor;
            }
            .lock{
              position: absolute;
              right: 6px;
              top: 7px;
              width: 6px;
              height: 9px;
              background: url('../../../../assets/lock.svg') center no-repeat;
              opacity: 0;
              &.show{
                opacity: 1;
              }
            }
            &:hover{
              .lock:not(.show){
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
}