@import '../../../../assets/settings';

.controls{
  .menu-element{
    width: 350px;
    .title{
      text-decoration: underline;
      margin-bottom: 10px;
    }
    .control-bindings{
      margin-bottom: 10px;
    }
  }
}