@import '../../../../assets/settings';
.appearance-controls {
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  .settings {
    padding: 0 10px;
    max-height: 235px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .controls {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}