@import '../../../../assets/settings';
.appearance-controls {
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  .settings {
    padding: 0 10px 15px;
    max-height: 235px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    &::-webkit-scrollbar{
      display: none;
    }
    .lock{
      width: 12px;
      height: 21px;
      top: 4px;
      background: url('../../../../assets/lock.svg') center/10px 16px no-repeat;
      opacity: 0.2;
      cursor: pointer;
      margin-right: 10px;
      &.is-locked{
        opacity: 1;
      }
    }
  }
  .controls {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}