@import '../../../assets/settings';

.footer-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  .footer{
    height: 35px;
    width: 100vw;
    @media (max-width: 1920px) {
      height: 30px;
    }
    box-sizing: border-box;
    color: $menuWindowFontColor;
    background: $menuWindowBackgroundNonBlur;
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: $menuWindowBackgroundColor;
    }
    border-top: 1px solid $menuWindowBorderColor;
    backdrop-filter: blur($menuWindowBackgroundBlur);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0 0 20px;
    font-weight: 300;
    .left-info{
      display: flex;
      flex-direction: row;
      align-items: center;
      .margin-right{
        margin: 0 10px 0 0;
      }
    }
    .right-button-wrapper{
      display: flex;
      flex-direction: row;
      .footer-button{
        cursor: pointer;
        border-left: 1px solid $menuWindowBorderColor;
        height: 35px;
        width: 35px;
        background-repeat: no-repeat;
        background-position: center;
        &.active{
          background-color: $menuWindowBackgroundColor;
        }
        &.table{
          background-image: url('../../../assets/table-icon.svg');
        }
        &.settings{
          background-image: url('../../../assets/setting-icon.svg');
        }
        @media (max-width: 1920px) {
          height: 30px;
          width: 30px;
          &.table{
            background-size: 20px;
          }
          &.settings{
            background-size: 18px;
          }
        }
      }
    }
  }
}