@import '../../../assets/settings';

.footer-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  .footer{
    height: 35px;
    width: 100vw;
    box-sizing: border-box;
    color: $menuWindowFontColor;
    background: $menuWindowBackgroundColor;
    border-top: 1px solid $menuWindowBorderColor;
    backdrop-filter: blur($menuWindowBackgroundBlur);
    font-size: $uiElementFontSize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    font-weight: 300;
    .left-info{
      display: flex;
      flex-direction: row;
      .margin-right{
        margin: 0 10px 0 0;
      }
    }
  }
}