.quick-access-wrapper{
  position: absolute;
  bottom: 45px;
  right: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  &.move-up{
    bottom: 195px;
  }
  .quick-menu{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.7;
    &.active{
      opacity: 1;
    }
    &.show-axes {
      background: url('../../../../assets/axes-icon.svg') center no-repeat;
    }
  }
}