@import '../../../assets/settings';

.menu-element{
  height: 415px;
  width: 415px;
  border: 1px solid $menuWindowBorderColor;
  border-radius: $menuWindowBorderRadius;
  padding: 15px;
  color: #fff;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  box-sizing: border-box;
  background: $menuWindowBackgroundNonBlur;
  user-select: none;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: $menuWindowBackgroundColor;
  }
  backdrop-filter: blur($menuWindowBackgroundBlur);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid $menuWindowBorderColor;
    min-height: 27px;
    margin-bottom: 17px;
    h2{
      margin: 0;
      font-size: 20px;
      line-height: 23px;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    .menu-button-wrapper{
      position: absolute;
      cursor: pointer;
      left: 0;
      height: 27px;
    }
    .type-icon-wrapper{
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 27px;
      transition: right 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
    }
    &.reverse{
      .menu-button-wrapper{
        left: unset;
        right: 0;
      }
      .type-icon-wrapper{
        left: 0;
        right: unset;
      }
    }
  }
  .controls-wrapper{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &.minimized{
    height: 58px !important;
    width: 58px;
    .header{
      border-bottom: none;
      h2{
        opacity: 0;
        position: absolute;
        pointer-events: none;
      }
      .type-icon-wrapper{
        top: -28px;
        right: -12px;
      }
      &.reverse{
        .type-icon-wrapper{
          right: unset;
          left: -12px;
        }
      }
    }
    .controls-wrapper{
      display: none;
    }
  }
}