.user-select{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .datapoint-select{
    max-width: unset;
    width: 100%;
    display: flex;
  }
  .function-select{
    max-width: 130px;
    min-width: 130px;
    margin: 0;
  }
}
.vis-text-input{
  max-width: unset;
}