@import '../../../../assets/settings';
.vis-text-input{
  width: 100%;
  max-width: 135px;
  height: $uiElementHeight;
  border: 1px solid $menuWindowBorderColor;
  border-radius: $uiElementBorderRadius;
  background: $uiElementBackgroundNotTransparent;
  color: $menuWindowFontColor;
  font-size: $uiElementFontSize;
  margin-right: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  &::placeholder{
    color: #aaa;
  }
  @media (max-width: 1920px) {
    height: $uiElementHeightSmall;
    font-size: $uiElementFontSizeSmall;
  }
}