@import '../../../../assets/settings';

.settings-menu{
  position: absolute;
  bottom: 35px;
  right: 0;
  width: 228px;
  height: 400px;
  padding: 5px 0;
  box-sizing: border-box;
  background: $menuWindowBackgroundNonBlur;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: $menuWindowBackgroundColor;
  }
  backdrop-filter: blur($menuWindowBackgroundBlur);
  border-left: 1px solid $menuWindowBorderColor;
  border-top: 1px solid $menuWindowBorderColor;
  border-radius: $menuWindowBorderRadius 0 0 0;
  hr{
    margin: 5px 0;
  }
  .file-upload{
    display: none;
  }
}