.filters-container{
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  .filters-wrapper{
    max-height: 645px;
    height: 645px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .controls{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}