@import '../../../../assets/settings';

.filters-container{
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  .filters-wrapper{
    max-height: 295px;
    height: 295px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    &::-webkit-scrollbar{
      display: none;
    }
    .hover-indicator-wrapper{
      height: 17px;
      width: 100%;
      display: flex;
      align-items: center;
      .indicator{
        width: 100%;
        height: 2px;
        background: $menuWindowBorderColor;
        display: none;
      }
      &.active:hover{
        .indicator{
          display: block;
        }
      }
    }
    .add-filter-wrapper{
      display: flex;
      flex-direction: row;
      .add-button{
        height: $uiElementHeight;
        width: $uiElementHeight;
        box-sizing: border-box;
        border: 1px solid $menuWindowBorderColor;
        font-size: $uiElementFontSize;
        border-radius: $uiElementBorderRadius;
        margin-right: 10px;
        cursor: pointer;
        background: $uiElementBackground url('../../../../assets/plus-icon.svg') center no-repeat;
      }
    }
  }
  .controls{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}