@import '../../../../assets/settings';

.progress-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  .progress-info{
    margin: 0 0 0 10px;
    &.border-right{
      padding-right: 10px;
      border-right: 1px solid $menuWindowBorderColor;
    }
  }
  .hover-info{
    padding: 3px;
    border: 1px solid $menuWindowBorderColor;
    position: absolute;
    top: -28px;
    left: 0;
    color: #fff;
    background: $uiElementBackgroundNotTransparent;
    display: none;
  }
  &:hover{
    .hover-info{
      display: block;
    }
  }
  .progress-bar{
    width: 100px;
    height: 10px;
    border: 1px solid $menuWindowBorderColor;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    .progress{
      background: $menuWindowBorderColor;
      position: absolute;
      width: 0;
      height: 10px;
      top: 0;
      left: 0;
    }
  }
}