@import '../../assets/settings';
#user-interface{
  color: $menuWindowFontColor;
  font-size: $uiElementFontSize;
  #filter-clone-wrapper{
    position: fixed;
    z-index: 10;
    pointer-events: none;
    cursor: pointer;
    opacity: 0.5;
  }
  .left-menu, .right-menu{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .right-menu{
    left: unset;
    right: 20px;
    .filter-menu{
      height: 840px;
    }
  }
  @media (max-width: 1920px) {
    font-size: $uiElementFontSizeSmall;
    .right-menu .filter-menu{
      height: 640px;
    }
  }
}