@import '../../assets/settings';
#user-interface{
  color: $menuWindowFontColor;
  #filter-clone-wrapper{
    position: fixed;
    z-index: 10;
    pointer-events: none;
    cursor: pointer;
    opacity: 0.5;
  }
  .left-menu, .right-menu{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .right-menu{
    left: unset;
    right: 20px;
    .filter-menu{
      height: 700px;
      &.minimized{
        height: 58px;
      }
    }
  }
}