$menuWindowBackgroundColor: rgba(255, 255, 255, 0.15);
$menuWindowBorderColor: #fff;
$menuWindowBorderRadius: 10px;
$menuWindowBackgroundBlur: 12px;
$menuWindowBackgroundNonBlur: rgb(38, 38, 38);
$menuWindowFontColor: #fff;
$menuWindowFontColorDisabled: #b2b2b2;

$uiElementFontSize: 14px;
$uiElementBackground: rgba(255, 255, 255, 0.3);
$uiElementBackgroundNotTransparent: rgb(104, 104, 104);
$uiElementBorderRadius: 5px;
$uiElementHeight: 24px;

$buttonBackgroundColor: #25466E;
$buttonBackgroundDanger: #c43535;