$menuWindowBackgroundColor: rgba(255, 255, 255, 0.15);
$menuWindowBorderColor: #fff;
$menuWindowBorderRadius: 10px;
$menuWindowBackgroundBlur: 12px;
$menuWindowFontColor: #fff;

$uiElementFontSize: 14px;
$uiElementBackground: rgba(255, 255, 255, 0.3);
$uiElementBackgroundNotTransparent: rgb(104, 104, 104);
$uiElementBorderRadius: 5px;
$uiElementHeight: 24px;