@import '../../../../assets/settings';
.small-number-input-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  .small-number-input{
    width: $uiElementHeight + $uiElementHeight;
    text-align: center;
    height: $uiElementHeight;
    background: $uiElementBackgroundNotTransparent;
    border: 1px solid $menuWindowBorderColor;
    border-radius: $uiElementBorderRadius;
    margin: 0;
    padding: 0 2px;
    box-sizing: border-box;
    color: $menuWindowFontColor;
    font-size: $uiElementFontSize;
    font-family: Roboto, sans-serif;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &.small{
      font-size: 9px;
    }
    &:focus + .disabled{
      display: none;
    }
    &:focus-visible{
      outline: none;
    }
  }
  .disabled {
    position: absolute;
    width: $uiElementFontSize;
    height: $uiElementFontSize;
    background: url('../../../../assets/cross.svg') center/$uiElementFontSize no-repeat;
    pointer-events: none;
  }
  @media (max-width: 1920px) {
    .small-number-input{
      width: $uiElementHeightSmall + $uiElementHeightSmall;
      height: $uiElementHeightSmall;
      font-size: $uiElementFontSizeSmall;
      &.small{
        font-size: 8px;
      }
      .disabled {
        width: $uiElementFontSizeSmall;
        height: $uiElementFontSizeSmall;
        background-size: $uiElementFontSizeSmall;
      }
    }
  }
}