@import '../../../../../assets/settings';

.menu-setting{
  color: $menuWindowFontColor;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  align-items: center;
  &:hover{
    background: $menuWindowBackgroundColor;
  }
  .left-wrapper{
    width: 16px;
    height: 16px;
    margin-right: 7px;
    display: flex;
    @media (max-width: 1920px){
      width: 15px;
      height: 15px;
    }
    img{
      width: 100%;
    }
  }
}