.indicator{
  position: absolute;
  left: 0;
  .body{
    width: 6px;
    height: 8px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-bottom-color: inherit;
      position: absolute;
      top: -4px;
      content: '';
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }
    .color-input-wrapper{
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      max-height: 8px;
      max-width: 6px;
      min-height: 8px;
      min-width: 6px;
      input{
        position: absolute;
        top: -5px;
        right: -5px;
        border: none;
        min-width: 15px;
        min-height: 18px;
        max-width: 15px;
        max-height: 18px;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}